:root {
  --primary: #5fcde4;
  --primary-text: #1a1a1a;
  --secondary: #5FCDE4;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}

body{
  background-image: url('./images/bg.png') !important; ;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-position: center;
}
